In [1]:
import pandas as pd
wine_reviews = pd.read_csv(r"data\example1.csv")

In [2]:
wine_reviews.shape

(3, 4)

In [3]:
wine_reviews.head()

   Product A  Product B  Product C  Unnamed: 3
0         30         21          9         NaN
1         35         34          1         NaN
2         41         11         11         NaN